# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# İndirilen dosyalar
downloads/

# Ortam değişkenleri
.env

# OS geçici dosyaları
.DS_Store
Thumbs.db

# VSC ayarları (eğer gizlenmesi isteniyorsa)
.vscode/
